.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge_ox {
  width: 5px;
  height: 5px;
  position: absolute;
  
  left: 25px;
  bottom: 30px;
}

.badge_ox__span {
  left: 15px;
  bottom: 20px;
}